<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<app-member-shared></app-member-shared>

<div class="alert">

    <strong>Be ware!</strong> You're about to delete your account permanently, are you sure you want to do it ?
</div>

<button (click)="onYes()" class="button button1">Yes</button>
<button (click)="onNo()" class="button button2">NO</button>