<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<app-member-shared></app-member-shared>

<table>
  <tr>
    <th>operation ID</th>
    <th>operation type</th>
    <th>hospital</th>
    <th>scheduled date</th>
    <th>performed</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>