<app-member-shared></app-member-shared>
<div *ngIf="this.m" id="firstDiv">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">cin</h6>
            </div>
            <div class="col-sm-9 text-secondary">{{this.m.cin}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">nom</h6>
            </div>
            <div class="col-sm-9 text-secondary"> {{this.m.nom}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">prenom</h6>
            </div>
            <div class="col-sm-9 text-secondary"> {{this.m.prenom}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">email</h6>
            </div>
            <div class="col-sm-9 text-secondary"> {{this.m.email}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary"> {{this.m.address}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">sexe</h6>
            </div>
            <div class="col-sm-9 text-secondary"> {{this.m.sexe}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">profession</h6>
            </div>
            <div class="col-sm-9 text-secondary">{{this.m.profession}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">birthDate</h6>
            </div>
            <div class="col-sm-9 text-secondary"> {{this.m.birthDate}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">bloodType</h6>
            </div>
            <div class="col-sm-9 text-secondary"> {{this.m.bloodType}} </div>
        </div>
    </div>
</div>